<%=form_for @workout do |f|%>

        <% if @workout.errors.any?%>
            <div id="error_explanation">
             <h3>There were some errors:</h3>
                <ul>
                 <% @workout.errors.full_messages.each do |message|%>
                    <li><%=message%></li>
                    <%end%>
                </ul>
                <%end%>
            </div>
<%=f.label :platform_name%>
<%=platform_id_field(@workout)%><br>
<%=f.label :instructor_name%>
<%=instructor_id_field(@workout)%><br>

<%=f.label :name%>
<%=f.text_field :name%><br>
<%=f.label "Link"%>
<%=f.text_field :url%><br>
<%=f.label :type%>
<%=f.text_field :type%><br>
<%=f.label :description%>
<%=f.text_area :description%><br>
<%=f.submit "Create Class"%>

<%end%>

