<%=form_for @workout do |f|%>

     def display_errors
        <% if @workout.errors.any?%>
            <div id="error_explanation">
             <h3>There were some errors:</h3>
                <ul>
                 <% @workout.errors.full_messages.each do |message|%>
                    <li><%=message%></li>
                    <%end%>
                </ul>
            </div>
        <%end%>
    end

<%= f.collection_select :instructor_id, Instructor.all, :id, :name, include_blank:true %>
<br>
<%=f.label "Class Name"%>
<%=f.text_field :name%><br>
<%=f.label :type%>
<%=f.text_field :type%><br>
<%=f.label :description%>
<%=f.text_area :description%><br>
<%=f.submit "Create Class"%>

<%end%>



