
<h1><%=platform?%> Classes</h1>
<%=link_to "Post a Class", new_workout_path%>
<% @workouts.each do |workout|%>
    <h4><%=workout.name%></h4>
    <li><%=instructor_name%></li>
    <li><%=platform.name %></li>
    <li><%= workout.time%></li>
    <li><%= workout.description%></li>
<%end%>
