<h1><%=@workout.instructor_name%></h1>

<strong><%=@workout.name%><br></strong>
<%=@workout.platform_name%><br>
Instructor: <%=@workout.instructor.name%><br>
<%=@workout.time.to_formatted_s(:long)%><br>
<%=@workout.description%><br>

