<%=form_for @instructor do |f|%>
    <% if @instructor.errors.any?%>
        <div id="error_explanation">
         <h3>There were some errors:</h3>
            <ul>
             <% @instructor.errors.full_messages.each do |message|%>
                <li><%=message%></li>
                <%end%>
            </ul>
        </div>
    <%end%>

<%=f.label :name%>
<%=f.text_field :name, value: f.object.name.titlecase%>
<br>
<%=f.label :location%>
<%=f.text_field :location%>
<br>
<%=f.label :bio%>
<%=f.text_area :bio%>
<br>
<%=f.submit "Create User"%>

<%end%>