<h1>Hi, <%=@user.name%></h1>

<h3>Keep it going, find a class! </h3>
<div>
    <%=link_to "Upcoming Classes",workouts_path%>
</div>
<div>
    <%=link_to "Check out Your Favorite Instructors",instructors_path%>
</div>


<h3>Hosting a class?</h3>
<div>
    <%=link_to "Become an Instructo",new_instructor_path%>
</div>
<div>
    <%=link_to "Post a Class", new_workout_path%>
</div>



<h3>Classes Completed</h3>



